.error {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5em;
  min-height: 83.4vh;
}

.errorimg {
  width: 50%;
  height: 50%;
  padding: 2em;
}

.errormsg {
  font-size: 1.5em;
  font-weight: 600;
  color: #c0bdc1;
  padding: 2em;
}
