@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;500;600&family=Krona+One&display=swap");

.brand {
  color: #a30cfd;
  font-weight: bold;
}

.tagline {
  font-family: "Krona One", sans-serif;
}

.details {
  color: #c0bdc1;
  font-size: 1.2em;
  font-family: "Inter", sans-serif;
  font-weight: lighter;
}

.secondary-btn {
  color: #c0bdc1;
  border-radius: 10rem;
  cursor: pointer;
}

.apply {
  background: rgb(61, 35, 140);
  background: linear-gradient(
    90deg,
    rgba(61, 35, 140, 1) 0%,
    rgba(139, 60, 197, 1) 100%
  );
  border: none;
}

.more {
  background: linear-gradient(#202528, #202528) padding-box,
    linear-gradient(90deg, rgba(61, 35, 140, 1) 0%, rgba(139, 60, 197, 1) 100%)
      border-box;
  border: 2px solid transparent;
}

.more:hover,
.apply:hover {
  color: #fafafc;
}
