@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;500;600&family=Krona+One&display=swap");

.hero {
}

.body {
  min-height: 87vh;
  max-height: 87vh;
  /* background-image: url(../images/hero.jpg); */
}

.overlay {
  padding: 2em;
}

.brand {
  color: #a30cfd;
  font-weight: bold;
}

.tagline {
  font-family: "Krona One", sans-serif;
  /* position: absolute;
  top: 30%;
  left: 50%;
  color: white;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); */
}

.details {
  color: #c0bdc1;
  font-size: 1.2em;
  font-family: "Inter", sans-serif;
  font-weight: lighter;
}

.apply {
  background: rgb(61, 35, 140);
  background: linear-gradient(
    90deg,
    rgba(61, 35, 140, 1) 0%,
    rgba(139, 60, 197, 1) 100%
  );
  border: none;
}

.more {
  background: linear-gradient(#fff, #fff) padding-box,
    linear-gradient(90deg, rgba(61, 35, 140, 1) 0%, rgba(139, 60, 197, 1) 100%)
      border-box;
  border: 2px solid transparent;
}

.more:hover {
  cursor: pointer;
}
.apply:hover,
.changemode:hover {
  color: #fafafc;
  cursor: pointer;
}

.points {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: #a30cfd;
  font-weight: bold;
  height: 10vh;
  width: auto;
}

.features {
  min-height: 87vh;
  max-height: 87vh;
  background-color: #202528;
}

.pages {
  min-height: 87vh;
  max-height: 87vh;
  background-color: #202528;
}
