.modal {
  width: 100vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 5rem;
  padding: 1.5vh;
  z-index: 2;
  width: 75%;
  border-radius: 2vh;
  border: 2px solid #c0bdc1;
  opacity: 95%;
}

.modal-header {
  color: #c0bdc1;
}
