* {
  color: #c0bdc1;
}
.modal {
  position: fixed;
  top: 8rem;
  left: 50%;
  transform: translateX(-50%);
  padding: 1em;
  z-index: 2;
  min-width: 50vw;
  border-radius: 2vh;
  border: 2px solid #c0bdc1;
  background-color: rgba(0, 0, 0, 0.5);
  place-content: center;
}

.modal-bg {
  display: flex;
  flex-direction: column;
  padding: 1em 3em;
}

.modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  /* max-width: 40em; */
}
/* .modal-header {
  color: #c0bdc1;
}

.modal-skills {
  color: #c0bdc1;
}

.val {
  border: 2px solid #c0bdc1;
  border-radius: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10em;
  margin: 0.5em;
  padding: 0.2em;
}

.skills {
  display: flex;
  justify-content: flex-start;
  align-items: center;
} */
