.jobs {
  min-height: 83.5vh;
}
.navigation,
.buttons {
  display: flex;
  flex-direction: row;
}

.navigation {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2em;
}

.job-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #c0bdc1;
  padding: 1vh 3.5vh 1vh 3.5vh;
  border-radius: 10vh;
  cursor: pointer;
}

.recent {
  background: rgb(61, 35, 140);
  background: linear-gradient(
    90deg,
    rgba(61, 35, 140, 1) 0%,
    rgba(139, 60, 197, 1) 100%
  );
  border: none;
  margin: 2vh;
}

.search {
  background: linear-gradient(#fff, #fff) padding-box,
    linear-gradient(90deg, rgba(61, 35, 140, 1) 0%, rgba(139, 60, 197, 1) 100%)
      border-box;
  border: 2px solid transparent;
  margin: 2vh;
  color: #000;
}

.recent:hover {
  color: #fff;
}

.job-btn > .search:hover {
  font-weight: bold;
}

.search-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1vh 3.5vh 1vh 3.5vh;
  border-radius: 10vh;
  cursor: text;
}

.searchArea {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-icon {
  color: #c0bdc1;
}

.job-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  gap: 4vh;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.job-info {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  gap: 1.5vh;
  border-radius: 0.5vh;
  color: #fff;
  padding: 1em 1em;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.4);
  transition: all 300ms ease;
}

.job-info:hover {
  box-shadow: none;
  transform: scale(1.1, 1.1);
}

.card-heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1em;
}

.companydetails {
  display: flex;
  justify-content: flex-start;
  align-items: start;
  text-align: left;
  flex-direction: column;
  color: #fff;
  width: 80%;
}

.header {
  padding: 0.5em;
}

.companyname {
  font-weight: bold;
  font-size: 1em;
}

.info {
  font-weight: bold;
}

.btnlist {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
