.navigation,
.buttons {
  display: flex;
  flex-direction: row;
}

.navigation {
  justify-content: space-between;
  align-items: center;
}

.job-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #c0bdc1;
  padding: 1vh 3.5vh 1vh 3.5vh;
  border-radius: 10vh;
  cursor: pointer;
}

.recent {
  background: rgb(61, 35, 140);
  background: linear-gradient(
    90deg,
    rgba(61, 35, 140, 1) 0%,
    rgba(139, 60, 197, 1) 100%
  );
  border: none;
  margin: 2vh;
}

.search {
  background: linear-gradient(#202528, #202528) padding-box,
    linear-gradient(90deg, rgba(61, 35, 140, 1) 0%, rgba(139, 60, 197, 1) 100%)
      border-box;
  border: 2px solid transparent;
  margin: 2vh;
  color: #c0bdc1;
}

.recent:hover,
.search:hover {
  color: #fff;
}

.search-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #c0bdc1;
  padding: 1vh 3.5vh 1vh 3.5vh;
  border-radius: 10vh;
  cursor: text;
}

.searchArea {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-icon {
  color: #c0bdc1;
}

.card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 2vh;
  border-radius: 2vh;
}

.job-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  background-color: #202528;
  padding: 2vh;
  margin: 2vh;
  border-radius: 2vh;
  height: 36vh;
  width: 36vh;
  box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.4);
  transition: all 300ms ease;
}

.job-info:hover {
  box-shadow: none;
}

.card-heading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #202528;
  margin: 1em;
}

.companylogo {
  background-color: #202528;
}

.companydetails {
  display: flex;
  justify-content: flex-start;
  align-items: start;
  text-align: left;
  flex-direction: column;
  color: #fff;
  background-color: #202528;
  width: 80%;
}

.header {
  background-color: #202528;
  padding: 0.5em;
}

.job-desc {
  background-color: #202528;
}
.companyname {
  background-color: #202528;
  font-weight: bold;
  font-size: 1em;
}

.companylocation {
  background-color: #202528;
}

.info {
  font-weight: bold;
}

.btnlist {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #202528;
}
