.navigation,
.buttons {
  display: flex;
  flex-direction: row;
}

.navigation {
  justify-content: space-between;
  align-items: center;
}

.job-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #c0bdc1;
  padding: 1vh 3.5vh 1vh 3.5vh;
  border-radius: 10vh;
  cursor: pointer;
}

.recent {
  background: rgb(61, 35, 140);
  background: linear-gradient(
    90deg,
    rgba(61, 35, 140, 1) 0%,
    rgba(139, 60, 197, 1) 100%
  );
  border: none;
  margin: 2vh;
}

.search {
  background: linear-gradient(#08000d, #08000d) padding-box,
    linear-gradient(90deg, rgba(61, 35, 140, 1) 0%, rgba(139, 60, 197, 1) 100%)
      border-box;
  border: 2px solid transparent;
  margin: 2vh;
  color: #c0bdc1;
}

.recent:hover,
.search:hover {
  color: #fff;
}

.search-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #c0bdc1;
  padding: 1vh 3.5vh 1vh 3.5vh;
  border-radius: 10vh;
  cursor: text;
}

.card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 2vh;
  border-radius: 2vh;
}

.job-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  background-color: #2e1c47;
  padding: 2vh;
  margin: 2vh;
  border-radius: 2vh;
  height: 36vh;
  width: 36vh;
}

.card-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #2e1c47;
}

.companylogo {
  background-color: #2e1c47;
}

.companydetails {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  color: #fff;
  background-color: #2e1c47;
}

.companyname {
  background-color: #2e1c47;
  font-weight: bold;
  font-size: 1.2em;
  padding: 0.5em;
}

.companylocation {
  background-color: #2e1c47;
}

.btnlist {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #2e1c47;
}

.button {
  margin: 1vh;
}
