.navbar {
  border-bottom: 0.1em solid #939194;
}

.logo {
  height: 3em;
  width: auto;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

li {
  list-style-type: none;
  padding: 2vh;
  font-family: "Inter", sans-serif;
  font-weight: bold;
}

li:hover,
.signin:hover {
  cursor: pointer;
}

li:hover {
  color: #a30cfd;
  border-bottom: 0.1em solid #939194;
  transform: scale(1.1, 1.1);
}

.active {
  border-bottom: 0.1em solid #a30cfd;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(61, 35, 140);
  background: linear-gradient(
    90deg,
    rgba(61, 35, 140, 1) 0%,
    rgba(139, 60, 197, 1) 100%
  );
  border: none;
  font-size: 1em;
  font-weight: bold;
}

.button:hover {
  cursor: pointer;
}
