.navbar {
  position: sticky;
  top: 0;
}

.logo {
  height: 3em;
  width: auto;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.nav > li {
  list-style-type: none;
  padding: 2vh;
  font-family: "Inter", sans-serif;
  font-weight: bold;
}

.nav > li:hover,
.signin:hover {
  cursor: pointer;
}

.nav > li:hover {
  border-bottom: 0.1em solid #7d8da1;
  transform: scale(1.1, 1.1);
}

.active {
  border-bottom: 0.1em solid #a30cfd;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(61, 35, 140);
  background: linear-gradient(
    90deg,
    rgba(61, 35, 140, 1) 0%,
    rgba(139, 60, 197, 1) 100%
  );
  border: none;
  font-size: 1em;
  font-weight: bold;
}

.button:hover {
  cursor: pointer;
}

.signin {
  position: relative;
}

.signin-menu {
  position: absolute;
  right: 0;
  top: calc(100% + 0.5em);
  padding: 0.75em;
  border-radius: 2vh;
  box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.4);
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.signin-menu.show {
  opacity: 1;
  transform: translateY(0);
}
