.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.1em solid #939194;
  padding: 2vh;
}

.logospace {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 5vh;
  width: auto;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

li {
  list-style-type: none;
  padding: 2vh;
  font-family: "Inter", sans-serif;
  font-weight: bold;
}

.navmenu:hover {
  cursor: pointer;
  color: #a30cfd;
}

.navmenu,
a {
  text-decoration: none;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(61, 35, 140);
  background: linear-gradient(
    90deg,
    rgba(61, 35, 140, 1) 0%,
    rgba(139, 60, 197, 1) 100%
  );
  border: none;
  font-size: 1em;
  font-weight: bold;
}

.button:hover {
  cursor: pointer;
}
