.pages {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2vh;
}

.sites {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2vh;
}

.site {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2vh;
}

.sitename {
  color: #c0bdc1;
  font-weight: bold;
  padding: 2vh;
}
