.popup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  padding: 1.5vh;
  z-index: 2;
  width: 25%;
  border-radius: 2vh;
  border: 2px solid #c0bdc1;
}

.close {
  display: flex;
  justify-content: end;
  align-self: flex-end;
}

.closebtn {
  background: none;
  border: none;
  color: #fff;
  font-size: small;
}

.closebtn:hover {
  cursor: pointer;
  color: #dc3545;
}

.pophead,
.popbody {
  color: #fff;
}

.pophead {
  font-weight: bold;
  display: flex;
  justify-self: start;
  align-items: start;
  font-size: 1.3rem;
  padding: 0.5rem;
}

.popbody {
  display: flex;
  width: 75%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0.5rem;
}

.buttonarea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

.popbutton {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #28a8e9;
  border: none;
  color: #ffffff;
  padding: 1vh 3vh 1vh 3vh;
  border-radius: 10vh;
  font-size: 1em;
  font-weight: bold;
}

.popbutton:hover {
  cursor: pointer;
}

.popuplogo {
  height: 4vh;
  width: auto;
  margin: 0vh 0vh 0vh 0.9vh;
  background: #ffffff;
  border-radius: 50%;
  border: 2px solid white;
}
