#root {
  max-width: 1280px;
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #08000d;
  font-family: "Inter", sans-serif;
  font-family: "Krona One", sans-serif;
  font-family: "Roboto", sans-serif;
}
